.modal-container {
  display: none;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 40px 80px;
}
.modal-container.active {
  display: block;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 01;
    transform: translate3d(0, 0, 0);
  }
}
.modal .active {
  animation: modal 0.3s forwards;
}

.modal {
  background: #f5f5f5;
}

.img-modal {
  margin: 0;
}
[data-modal="fechar"] {
  float: right;
  border: none;
  right: 0;
  margin-top: 10px;
  background: transparent;
}
[data-modal="fechar"] img {
  right: 0;
}
.text-modal {
  margin-right: 0;
  margin-left: 2rem;
}
.text-modal h2 {
  font-size: 3rem;
  margin-top: 4rem;
  padding: 0 2rem;
  font-weight: bold;
}
.text-modal p {
  font-size: 1.1rem;
  margin-top: 3.5rem;
  padding: 0 2rem;
}
.button-learn {
  margin: 2rem 8.5rem;
  text-align: center;
  background: #ed1c24;
}
.button-learn p {
  padding: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  color: #f5f5f5;
}
